.content
  margin 64px 0 0 0

  .container
    .content-features
      padding 0

    .content-block
      padding 1em
      border-left 6px solid #dedede
      border-bottom 1px solid #dedede

      &-title
        font-family 'Montserrat'

      &:hover
        background-color #dedede

      &:nth-child(1)
        border-left-color green
      &:nth-child(2)
        border-left-color red
      &:nth-child(3)
        border-left-color blue
      &:nth-child(4)
        border-left-color orange

.content-text-image
  .container
    picture
      margin 0 auto
      img
        width 100%
figure
  margin 5px 28px
 
#servicios
  width 100%
  max-width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around 
.servicio
  max-width 100%
  max-height 305px
  margin-top 20px
  color $black
  figure
    margin 0
    height inherit
    background-color $amarillo
    img
      max-width 100%
  .amarillo
    position relative
    width 100%
    height inherit
  h1
    font-family 'ClanOT-Bold'
    font-size 21.25px
    width 185px
    left 10%
    top 14%
    position absolute
    z-index 500
    text-align left
  strong
    font-family 'ClanOT-BoldItalic'
    font-size 9.45px
    left 10%
    top 62%
    position absolute
    z-index 500
  p
    font-family 'ClanOT-NewsItalic'
    font-size 9.45px
    left 10%
    top 68%
    position absolute
    z-index 500
    width 230px
        
#banner_inferior
  width 100%
  max-width 100%
  display flex
  flex-direction row
  justify-content center
  padding-top 40px
  img
    max-width 90%
    height auto

@media (max-width: 680px)
  .header-logo
    figure
      text-align center
  .info_top
    width 100%
    display flex
    flex-direction row
    justify-content space-around
    .info
      margin 0
      display flex-end
      justify-content right
      padding-right 0
      padding-left 28px
      &:last-child
        padding-right 0
      i
        left -10px          
  .right_header
    img
      display none
  .servicio
    h1
      left 8%
      font-size 16px
    strong
      left 8%
      top 60%
      font-size 8.5px
    p
      left 8%
      top 64%
      font-size 7.5px
      width 160px
      
@media (max-width: 320px)
  .info_top
    .info
      &:first-child
        display none
    
    
    
