.content
  margin 64px 0 0 0

  .container
    .content-features
      padding 0

    .content-block
      padding 1em
      border-left 6px solid #dedede
      border-bottom 1px solid #dedede

      &-title
        font-family 'Montserrat'

      &:hover
        background-color #dedede

      &:nth-child(1)
        border-left-color green
      &:nth-child(2)
        border-left-color red
      &:nth-child(3)
        border-left-color blue
      &:nth-child(4)
        border-left-color orange

.content-text-image
  .container
    picture
      margin 0 auto
      img
        width 100%
figure
  margin 5px 28px
h2.clientes
  width 90.25%
  text-align center
  font-family 'ClanOT-Bold'
  font-style italic
  background-color $amarillo
  color $black
  margin-top 40px
  padding 5px 0
h2.diagnostico
  width 100%
  text-align center
  font-family 'ClanOT-Bold'
  font-style italic
  background-color $amarillo
  color $black
  margin-top 40px
  padding 5px 0    
ul.cuadros_amarillos
  list-style none
  margin-top 40px
  li
    font-size 20px
    padding-bottom 15px
    &::before
      width 12px
      height 12px
      margin-top 2px
      background-color $amarillo
      float left
      clear none
      position relative
      margin-right 20px
      content " "
#servicios
  width 100%
  max-width 100%
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around 
.servicio_mini
  min-width 542px
  max-width 100%
  height 80px
  margin-top 20px
  color $black
  flex-wrap wrap
  justify-content space-around
  .amarillo
    background-color $amarillo
    height inherit
    width 60%
    float left
    position relative
    h1
      font-size 20px
      font-family 'ClanOT-Bold'
      padding-left 40px
      padding-right 60px
      margin-top 20px
      margin-left 20px
  .plomo
    width 40%
    height inherit
    background-color $plomo
    float left
    position relative
    display flex
    align-item center
    img
      width 85px
      margin 0 auto
      &.brujula
        width auto
        height 68px
        margin-top 6px
.servicio
  max-width 100%
  max-height 305px
  margin-top 20px
  color $black
  figure
    margin 0
    height inherit
    background-color $amarillo
    img
      max-width 100%
  .amarillo
    position relative
    width 100%
    height inherit
  h1
    font-family 'ClanOT-Bold'
    font-size 21.25px
    width 185px
    left 10%
    top 14%
    position absolute
    z-index 500
    text-align left
  strong
    font-family 'ClanOT-BoldItalic'
    font-size 9.45px
    left 10%
    top 62%
    position absolute
    z-index 500
  p
    font-family 'ClanOT-NewsItalic'
    font-size 9.45px
    left 10%
    top 68%
    position absolute
    z-index 500
    width 230px
#nosotros
  width 100%
  max-width 100%
  display flex
  flex-direction row
  justify-content space-around
  margin-top 60px
  margin-bottom 60px
  h2
    font-size 18px
  figure
    margin 0
  .contenido
    padding 0 130px 0 0
    font-size 11px
    text-align justify
    line-height 18px
#asesoria_integral
  width 100%
  max-width 100%
  display flex
  flex-direction row
  justify-content space-around
  margin-top 60px
  margin-bottom 60px
  h2
    font-size 18px
  figure
    margin 0
  .contenido
    font-size 11px
    text-align justify
    line-height 18px      
#diagnostico
  width 100%
  max-width 100%
  display flex
  flex-direction row
  justify-content space-around
  margin-top 60px
  margin-bottom 60px
  h2
    font-size 18px
    margin-bottom 40px
  figure
    width 50%
    margin 0
    padding-top 110px
  .contenido
    width 30%
    font-size 11px
    text-align justify
    line-height 18px     
        
#banner_inferior
  width 100%
  max-width 100%
  display flex
  flex-direction row
  justify-content center
  padding-top 40px
  img
    max-width 90%
    height auto
#lista_clientes
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-around
  width 90%
  img
    width 200px
    max-height 200px
    &.grande
      width 255px
#porque_asesoria
  h2
    &.clientes
      width 30%
      padding 15px 40px
      clear both
      margin-bottom 40px
  ul
    list-style none
    padding-top 20px
    float left
    clear none
    position relative
    width 50%
    li
      float left
      clear both
      position relative
      width 50%
      line-height 20px
      height 80px
      padding-bottom 20px
      padding-left 70px
      .numero
        left 0
        top 0
        position absolute
        color $amarillo
        font-size 70px
        line-height normal
        font-family "ClanOT-BoldItalic"
        margin-right 10px
        margin-top -8px
    &.item_derecha
      float left
      clear none
      position relative
        
/*@media (max-width: 680px)
  .header-logo
    figure
      text-align center
  .info_top
    width 100%
    display flex
    flex-direction row
    justify-content space-around
    .info
      margin 0
      display flex-end
      justify-content right
      padding-right 0
      padding-left 28px
      &:last-child
        padding-right 0
      i
        left -10px          
  .right_header
    img
      display none
  .servicio
    h1
      left 8%
      font-size 16px
    strong
      left 8%
      top 60%
      font-size 8.5px
    p
      left 8%
      top 64%
      font-size 7.5px
      width 160px
      */
@media (max-width: 320px)
/*  .info_top
    .info
      font-size 8px
      &:first-child
        display none*/
  .header
    .left-header
      max-width 100%
  #frase
    display none
    
    
