body
    width 100%
.barra_top
    .info_top
        width 100%
        .info
            float left
            margin-right 0
            paddding 0 !important
            font-size 125%
            width 50%
            text-align center            
.header
    padding-top 20px
    flex-direction column
    .right_header
        width 100%
    nav
        ul
            width 100%
            flex-direction column
            li
                width 100%
                margin-bottom 0
                text-align center
                a
                    width 100%
                    max-width 100%
                    border 0
                    color white
                    text-align center
                    background-color $black
                    padding 0
                    &:hover
                        background-color $amarillo
                        color $black