@import './normalize.css'
@import './reset'

$black = #333333
$white = #FAFAFA
$amarillo = #E8CB32

body
  font-family 'ClanOT-News'
  font-size 16px
a
	text-decoration none

@import './top'
@import './header'
@import './content'
@import './video'
@import './footer'
