@media (max-width: 768px)
	.visible-xs
		display block
	.hidden-xs
		display none
	.header
		.left_header
			margin 0 auto
	#banner
		margin 0
		max-width 100%
		height auto
	h2.clientes
		max-width 100%
		width 100%
	@import './header_max_768'
	@import './servicios_max_768'
	@import './nosotros_max_768'
	@import './diagnostico_emp_max_768'
	@import './asesoria_max_768'	