#porque_asesoria
	h2.clientes
		width 97%
		padding-left 6px
		padding-right 5px
	ul
		width 80%
		clear both
		position relative
		li
			margin-left 10%
			padding-bottom 60px
		&.item_derecha
			padding-bottom 80px
