.servicio
    h1
        left 8%
        font-size 16px
    strong
        left 8%
        top 60%
        font-size 10px
        width 120px
.servicio_mini
	min-width 100%
	.amarillo
		h1
			padding-left 20px